<div class="custom-me">
    <h3 mat-dialog-title>Biografía</h3>
    <mat-dialog-content >

        <mat-card class="example-card">
        <img mat-card-image >
        <mat-card-content>
            <h3>- JavaScript</h3>
            <mat-progress-bar
            mode="determinate"
            value="70"></mat-progress-bar>
            <br>
            <h3>- Angular </h3>
            <mat-progress-bar
            mode="determinate"
            value="60"></mat-progress-bar>
            <br>
            <h3>- NodeJs</h3>
            <mat-progress-bar
            mode="determinate"
            value="50"></mat-progress-bar>
            <br>
            <h3>- Git</h3>
            <mat-progress-bar
            mode="determinate"
            value="60"></mat-progress-bar>
            <br>
            <h3>- SQL, NoSQL </h3>
            <mat-progress-bar
            mode="determinate"
            value="50"></mat-progress-bar>
        </mat-card-content>
      </mat-card>

    </mat-dialog-content>
    <mat-dialog-content>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close >Close</button>
    </mat-dialog-actions>
</div>
