<div class="custom-me">
    <mat-dialog-content >
        <mat-card class="example-card">
            <mat-card-content>
              <div class="me">
                  <img
                  mat-card-image
                  src="../../../assets/images/avatar.png" >
              </div>
            </mat-card-content>
            <mat-dialog-content >
              <div class="text">
                  Hola, soy Gerardo y soy desarrollador <span>JavaScript</span>,
                  tengo 28 años y soy de la Ciudad de México.
              </div>
            </mat-dialog-content>
          </mat-card>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close >Close</button>
    </mat-dialog-actions>
</div>
