<div class="custom-me">
    <mat-dialog-content >
        <mat-card class="example-card">
            <mat-card-content>
              <div class="me">
                  <img
                  mat-card-image
                  src="../../../assets/images/avatar.png" >
              </div>
            </mat-card-content>
            <mat-dialog-content >
              <div class="text">
                  Hola, me llamo Gerardo y soy desarrollador <span>JavaScript</span>,<br>
                  tengo 28 años.
                  <i class="fas fa-map-marker-alt"></i> Ciudad de México.
              </div>
            </mat-dialog-content>
          </mat-card>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close >Close</button>
    </mat-dialog-actions>
</div>
