@import url('https://fonts.googleapis.com/css?family=Pacifico');
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
#logo {
  color: rgb(235, 210, 171);
  font-size: 1.5em;
  font-family: 'Pacifico', cursive;
}
