@import url('https://fonts.googleapis.com/css?family=Oswald');
.home {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr;

}
.background {
  background-image:linear-gradient(
    rgba(0,0,15,.8),rgba(0,0,15,.8)),
  url("../../../assets/images/land.jpg");
  background-attachment: fixed !important;
  background-position: center center !important;
  background-repeat: no-repeat;
  background-size: cover !important;
}
.background::before {
  background-attachment: initial !important;
  background-position: center center !important;
  background-repeat: no-repeat;
  background-size: cover !important;
}
.center {
  background: transparent;
  height: 100%;
  position: relative;
  height: 40%;
}
.fot {
  background: transparent;
  width: 100%;
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 20px;
}
.arrow {width: 20%;height: 100%;}
.arrow i {
  cursor: pointer;
  color:lightblue;
  display: flex;
  justify-content: center;
}
.highlight {
  font-family: 'Oswald', sans-serif;
  font-size: 6vw;
  font-weight: bold;
  color: rgb(50, 154, 189);
  text-shadow: -1px 0 lightblue, 0 1px lightblue, 1px 0 lightblue, 0 -1px lightblue;
  text-transform: uppercase;
  bottom: 0;right: 20%;
  display: flex;
  position: absolute;
}
/* bio */
.bio {
  height: 100vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  background: #00141f;
}
.r1 {background: #00141f;}
.r3 {background: #00141f;}
.r2 {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
.c2 {
  background: #00141f;height:100%;
  position: relative;
}
.bio-c {
  /* display: grid;grid-template-columns: 10% 90%; */
  display: flex;
  position: absolute;bottom: 14%;left: 0%;height: 80%;
}
.info {width: 100%;}
.text {
  position: absolute;
  bottom: 0;top: 250px;left: 330px;right: 0;
  display: flex;
}
.about {
  width: 60%;height: 200px;
  background: transparent;
  position: absolute;
  top: 20%;
  right: 0%;
  border: 2px solid orange;
  display: flex;
  justify-content: center;
}
.a-center h3 {
  color:palevioletred;text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
.a-center h5 {
  color:lightcyan;
  font-size: 5vh;
  line-height: 1.4;
  font-family: 'Oswald', sans-serif;
}
.grad1 {
background: rgba(61,61,123,1);
background: -moz-linear-gradient(top, rgba(61,61,123,1) 0%, rgba(61,61,123,1) 25%, rgba(55,37,69,1) 80%, rgba(55,37,69,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(61,61,123,1)), color-stop(25%, rgba(61,61,123,1)), color-stop(80%, rgba(55,37,69,1)), color-stop(100%, rgba(55,37,69,1)));
background: -webkit-linear-gradient(top, rgba(61,61,123,1) 0%, rgba(61,61,123,1) 25%, rgba(55,37,69,1) 80%, rgba(55,37,69,1) 100%);
background: -o-linear-gradient(top, rgba(61,61,123,1) 0%, rgba(61,61,123,1) 25%, rgba(55,37,69,1) 80%, rgba(55,37,69,1) 100%);
background: -ms-linear-gradient(top, rgba(61,61,123,1) 0%, rgba(61,61,123,1) 25%, rgba(55,37,69,1) 80%, rgba(55,37,69,1) 100%);
background: linear-gradient(to bottom, rgba(61,61,123,1) 0%, rgba(61,61,123,1) 25%, rgba(55,37,69,1) 80%, rgba(55,37,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d7b', endColorstr='#372545', GradientType=0 );

}
.c {
  /* position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  background: red;
  height: 200px;
  width: 50%; */

  /*
  position: absolute;
  top: 50%;
  left: 50%;

  height: 500px;
  margin-top: -250px; Half the height
  margin-left: -250px; Half the width */
}
/* .row2 {
  position: relative;
  border-right-color: 2px solid slateblue;
  display: flex;
  flex-direction: column;
}  */
.section {width: 20%;color: lightyellow;}
/* hover */
.hovereffect {
  width: 100%;
  height: 40%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.hovereffect:hover .overlay {
  background-color: rgba(109, 139, 167, 0.4);
}
.hovereffect h2, .hovereffect img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.hovereffect img {
  margin: 0 auto;
  right: 0;
  left: 0;
  bottom: 0;top: 0;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.hovereffect:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}
.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  height: 85%;
  width: 85%;
  position: absolute;
  top: -20%;
  left: 8%;
  padding: 70px;
}
.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: rgba(0,0,0,0.4);
} /* hover */

.imagen {
  width: 45%;height: 70%;position: relative;left: -50px;}
.info2 {
  position: relative;
  background: #34495e;
  border: 2px slateblue solid;
  width: 100%;
  height: 50%;
}
.text {
  position: absolute;
  bottom: 0;top: 0;left: 0;right: 0;
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.info2 .text h2 {
  color: lightblue;
  font-family: 'Oswald', sans-serif;
  font-size: 6vw;
  text-transform: uppercase;
}
/* portafolio */
.porta {
  height: 295vh;
  width: 100%;
  background: linear-gradient(#00141f, lightblue);
  position: relative;
  display: flex;
  justify-content: center;
}
.portaf {
  width: 12%;
  color: lightgoldenrodyellow;
  margin-bottom: 10px;
}
.card-deck {
  background: transparent;
  position: absolute;
  margin-top: 90px;
}
.card-deck .card {
  background: transparent;
  border: 2px solid orange;
  cursor: pointer;
  display: flex;
  -webkit-transition: all .8s ease-in-out;
}
.card-deck .card img {display: flex;justify-content: center;}

.card-deck #green:hover {
  background: transparent;
  border: 2px solid lightgreen;
  cursor: pointer;
}
.card-deck #red:hover {
  background: transparent;
  border: 2px solid rgb(255, 17, 0);
  cursor: pointer;
}
#red img {
  width: 63%;
}
.card-deck #yellow:hover {
  background: transparent;
  border: 2px solid lightgoldenrodyellow;
  cursor: pointer;
}
.card-img-top {
  width: 60%;
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all .8s ease-in-out;
  margin: 10px;
}
.card-img-top:hover  {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.08);
}
#hover-red:hover  {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.18);
}
.card-title {color: pink;text-align: center;}
.card-text {color: rosybrown;}
/* @media screen and (min-width:576px) {
  .card-deck  {
    position: absolute;
  }
} */

/* foot */
.foot {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 20% 80%;
  background:  #212f3c;
  position: absolute;
  bottom: 0;
}
.logo {
  position: relative;
  display: flex;
  position: absolute;
  left: 30px;
  bottom: 15px;
}
.logo i {color: darkslategrey;}
.f-row2 {}
.contacto {}
.contacto h5 {
  color: lightslategray;
  font-family: Oswald,sans-serif;
  font-size: 2vh;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  margin-top: 5%;
  justify-content: center;
}
.icns {display: flex;justify-content: center;}
.icns i {
  margin-right: 10px;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
}
.fa-linkedin {color: lightslategray;}
.fa-codepen {color: lightslategray;}
.fa-github {color: lightslategray;}
.fa-map-marker-alt {color: #e74c3c;}
#email {cursor: pointer;}
#ang {cursor: pointer;}
#ang:hover {color: red;}
.fa-at {color: lightslategray;}
.fa-linkedin:hover {
  color: orange;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.fa-codepen:hover  {
  color: orange;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.fa-github:hover  {
  color: orange;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.fa-at:hover  {
  color: orange;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
/* me */
/* #btn-me:hover {
  border: 2px solid teal;
  background: teal;
}
#btn-me span {
  position: relative;
  top: 25%;
}
#btn-me:hover span {
  color: lightblue;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  font-size: 19px;
}
#btn-me:hover #flecha {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
/* tools */
/* .btn-tools {
  background: transparent;
  margin: 0 auto;
  width: 40%;
  height: 55px;
  border: 2px solid #fff;
  font-size: 2.1vw;
  transition: all .5s;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
  border-radius: 4px;
}
.btn-tools .fa-chevron-right {
  color: lightblue;
  font-size: 1.5em;
} */
/* id */
/* #btn-t:hover {
  border: 2px solid rebeccapurple;
  background: rebeccapurple;
}
#btn-t span {
  position: relative;
  top: 25%;
}
#btn-t:hover span {
  color: lightblue;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  font-size: 19px;
}
#btn-t:hover #flecha {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
#btn-eml:hover {
  border: 2px solid #e74c3c;
  background:#e74c3c;
}
#btn-eml span {
  position: relative;
  top: 25%;
}
#btn-eml:hover span {
  color: lightblue;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  font-size: 19px;
}
#btn-eml:hover #flecha {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}  */
/* @media screen and (max-width:547px) {
  .highlight {
    font-size: 10vw;
  }
  #btn-t {
    width: 80%;
  }
  #btn-t span {
    font-size: 20px;
  }
  #btn-me {
    width: 80%;
  }
  #btn-me span {
    font-size: 20px;
  }
  #btn-eml  {
    width: 80%;
  }
  #btn-eml span {
    font-size: 20px;
  }
} */
/* #flecha {
  font-weight: bold;
  position: relative;
  top: 8px;
}
#flecha {
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
} */


