<div class="home">
  <div class="background">
    <app-header></app-header>
    <div class="center">
      <span class="highlight"> Gerardo Bautista</span>
      <footer></footer>
    </div>
  </div>
 </div> <!-- home -->
<div class="bio">
  <div class="row"></div>
  <div class="row2">
          <div (click)="openBiografia()" class="hovereffect">
              <img class="imagen" src="../../../assets/images/avatar.png" alt="">
              <div class="overlay">

                 <a class="info" href="#">click</a>
              </div>
          </div>
    <div class="info2">
      <div class="text">
          <h2>
              Hola, soy <span>Gerardo</span> y <br />
              soy desarrollador <span id="web">web</span>. <br />
              <i class="fas fa-map-marker-alt"></i> Ciudad de México
          </h2>

      </div>
    </div>
  </div>
</div> <!-- bio -->
