@import url('https://fonts.googleapis.com/css?family=Oswald');
.home {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr;
}
.background {
  background: url("https://momentumdash.com/backgrounds/01.jpg") center center/cover;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100%;
  background: transparent;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.highlight {
  font-family: 'Oswald', sans-serif;
  font-size: 7vw;
  font-weight: bold;
  color: rgb(50, 154, 189);
  text-shadow: -1px 0 lightblue, 0 1px lightblue, 1px 0 lightblue, 0 -1px lightblue;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
/* me */
#btn-me:hover {
  border: 2px solid teal;
  background: teal;
}
#btn-me span {
  position: relative;
  top: 25%;
}
#btn-me:hover span {
  color: lightblue;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  font-size: 19px;
}
#btn-me:hover #flecha {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
/* tools */
.btn-tools {
  background: transparent;
  margin: 0 auto;
  width: 40%;
  height: 55px;
  border: 2px solid #fff;
  font-size: 2.1vw;
  transition: all .5s;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
  border-radius: 4px;
}
.btn-tools .fa-chevron-right {
  color: lightblue;
  font-size: 1.5em;
}
/* id */
#btn-t:hover {
  border: 2px solid rebeccapurple;
  background: rebeccapurple;
}
#btn-t span {
  position: relative;
  top: 25%;
}
#btn-t:hover span {
  color: lightblue;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  font-size: 19px;
}
#btn-t:hover #flecha {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
#btn-eml:hover {
  border: 2px solid #e74c3c;
  background:#e74c3c;
}
#btn-eml span {
  position: relative;
  top: 25%;
}
#btn-eml:hover span {
  color: lightblue;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  font-size: 19px;
}
#btn-eml:hover #flecha {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
@media screen and (max-width:547px) {
  .highlight {
    font-size: 10vw;
  }
  #btn-t {
    width: 80%;
  }
  #btn-t span {
    font-size: 20px;
  }
  #btn-me {
    width: 80%;
  }
  #btn-me span {
    font-size: 20px;
  }
  #btn-eml  {
    width: 80%;
  }
  #btn-eml span {
    font-size: 20px;
  }
}
#flecha {
  font-weight: bold;
  position: relative;
  top: 8px;
}
#flecha {
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
}


