@import url('https://fonts.googleapis.com/css?family=Oswald');
.home {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr;
}
.land {
  background: url("https://momentumdash.com/backgrounds/01.jpg") center center/cover;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100%;
  background: transparent;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
/* .center span { display: contents; } */

.highlight {
  font-family: 'Oswald', sans-serif;
  font-size: 7vw;
  font-weight: bold;
  color: rgb(50, 154, 189);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.btn {
  background: transparent;
  margin: 0 auto;
  width: 40%;
  height: 55px;
  border: 2px solid #fff;
  font-size: 13pt;
  transition: all .5s;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
}
#btn:hover {
  background: rebeccapurple;
}
#btn:hover span {
  color: lightblue;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  font-size: 20px;
}
#btn:hover #flecha {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.btn .fa-chevron-right {
  color: lightblue;
  font-size: 1.5em;
}
#flecha {
  font-weight: bold;
  position: relative;
  top: 8px;
}
#flecha {
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
}

/* .edit {
  color: red;
} */
/* .rotar {
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
}
.rotar .rotamas {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
} */
.rotar:hover {
  background: rebeccapurple;
  border: 2px solid rebeccapurple;
  color: lightcyan;
}


