<div class="home">
  <div class="land">
    <app-header></app-header>
    <div class="center text">
      Hola, soy <span class="highlight"> Gerardo</span>,
      <div class="c">y soy programador web. </div>
        <div (click)="openDialogo()" class="btn">
          <span>Lenguajes</span>
          <i class="fas fa-chevron-right"></i>
        </div>
        <div (click)="openBio()" class="btn">
            <span>Lenguajes</span>
            <i class="fas fa-chevron-right"></i>
          </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
