<div class="wrapper">
  <div class="home">
    <div class="background">
      <app-header></app-header>
      <particles [style]="style"> </particles>
      <particles [style]="style"> </particles>
      <div class="fot">
        <div (click)="scrollHacia(sushi)" class="arrow">
          <i class="fas fa-angle-down fa-3x"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- home -->
  <div #sushi class="bio">
    <div class="r1">

    </div>
    <div class="r2">
      <div class="c"></div>
      <div class="c2">
        <div class="bio-c grad1">
         <img class="imagen" src="../../../assets/images/avatar.png" alt="" />
          <div class="info">
              <div class="text">
                  <h4 class="highlight">gerardo bautista</h4>
              </div>
          </div>
          <div class="about">
              <div class="a-center">
                <h3>Acerca</h3>
            <h5>Soy Gerardo y soy programador web, <br>
              <i class="fas fa-map-marker-alt"></i> Ciudad de México . 28 años </h5>
              </div>

          </div>
        </div>
      </div>
      <div class="c3">

      </div>
    </div>
    <div class="r3"></div>
  </div>
  <!-- bio -->
  <div class="porta">
      <div class="portaf">
          <h2>PORTAFOLIO</h2>
          <hr>
      </div>
    <div class="card-deck">
      <div id="green" (click)="openRecetas()" class="card">
        <img
          class="card-img-top"
          src="../../../assets/images/salad.png"
          alt="una carta"
        />
        <div class="card-body">
          <h5 class="card-title">Recetario</h5>
        </div>
      </div>
      <div id="red" (click)="openBuscador()" class="card">
        <img
          id="hover-red"
          class="card-img-top"
          src="../../../assets/images/yt.png"
        />

        <div class="card-body">
          <h5 class="card-title">Buscador de YouTube</h5>
        </div>
      </div>
      <div id="yellow" (click)="openNotas()" class="card">
        <img
          class="card-img-top"
          src="../../../assets/images/pencil.png"
          alt="note-app"
        />
        <div class="card-body">
          <h5 class="card-title">Notas-App</h5>
        </div>
      </div>
    </div>
    <!--  card-deck -->
    <div class="foot">
      <div class="f-row">
        <div class="logo">
          <a
            target="_blank"
            href="https://github.com/emeery/portafolio-angular"
          >
            <i id="ang" class="fab fa-angular fa-4x"></i>
          </a>
        </div>
      </div>
      <div class="f-row2">
        <div class="contacto">
          <h5>© 2019 Gerardo Bautista All Rights Reserved</h5>
          -
          <div class="icns">
            <a
              target="_blank"
              href="https://www.linkedin.com/in/gerardo-bautista307/"
            >
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
            <a target="_blank" href="https://codepen.io/Emeeery">
              <i class="fab fa-codepen fa-2x"></i>
            </a>
            <a target="_blank" href="https://github.com/emeery">
              <i class="fab fa-github fa-2x"></i>
            </a>
            <a id="email" (click)="openCorreo()">
              <i class="fas fa-at fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- porta -->
</div>
