<div class="custom-note">
  <mat-dialog-content >
    <mat-card >
        <mat-dialog-content >
          <div class="text">
              <i class="fas fa-pencil-alt fa-5x"></i>
              <p class="card-text">
                Un Note-App hecho con ReactJS, Webpack y Firebase
              </p>
              <a href="https://notas-react-base.herokuapp.com/"
              target="_blank">https://notas-react-base.herokuapp.com/
              </a>
              <br>
               <a target="_blank" href="https://github.com/emeery/recetario">
                <i class="fab fa-github-alt fa-2x"></i>
              </a>
          </div>
        </mat-dialog-content>
    </mat-card>
  </mat-dialog-content>
  <mat-dialog-actions>
      <button mat-button mat-dialog-close >Close</button>
  </mat-dialog-actions>
</div>
j
