<div class="custom-search">
  <mat-dialog-content >
    <mat-card >
        <mat-dialog-content >
          <div class="text">
            <i class="fas fa-play fa-3x"></i>
            <br><br>
              <p class="card-text">
                Buscador de YouTube hecho con ReactJS, Webpack, Materialize y la API de Google.
              </p>
              <a href="https://buscador123.herokuapp.com/"
              target="_blank">https://buscador123.herokuapp.com/</a>
              <br>
               <a target="_blank" href="https://github.com/emeery/video">
                <i class="fab fa-github-alt fa-2x"></i>
              </a>
          </div>
        </mat-dialog-content>
    </mat-card>
  </mat-dialog-content>
  <mat-dialog-actions>
      <button mat-button mat-dialog-close >Close</button>
  </mat-dialog-actions>
</div>
