/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.custom-modalbox .mat-dialog-container {
  background:  #34495e !important;
}
.custom-modalbox .mat-dialog-content .mat-card {
  background:  #34495e !important;
}
.custom-modalbox .mat-dialog-title {
  color:lightcoral;
  font-weight: bolder;
  text-transform: uppercase;
}
.custom-modalbox .mat-card-content h3 {
  color: lightcyan;
}
.custom-modalbox .mat-progress-bar .mat-primary {
  color: red;
}
/* header */
.custom-header .mat-toolbar {
  background: transparent;
}
/* me */
.custom-me .mat-dialog-container {
  background: #5d6d7e;
}
.custom-me .mat-dialog-content .mat-card{
  background: #5d6d7e;

}
.me {
  display: flex;
  justify-content: center;
}
.me img {
  width: 50%;
}
/* .custom-me
.mat-dialog-content
.mat-card
.mat-card-image {
  background: #5d6d7e;
  overflow:hidden;
} */
